html {
    font-size: 10px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
p,
h1 {
    font-size: 2.4rem;
    text-align: center;
}
a {
    text-decoration: none;
}
#link_1 {
    color: green;
}
#link_1:visited {
    color: greenyellow;
}

#link_1:active {
    color: yellow;
}

#main {
    position: relative;
    top: 30%;
    color: lawngreen;
    /* border: 1px solid red; */
}
body {
    color: white;
    font-size: 3rem;
    /* width: 100%; */
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* close commented backslash hack */

.header {
    background: indigo !important;
    height: 200px;
    margin-bottom: 10px;
}

.content {
    width: 80%;
    float: left;
}
.inner-content {
    background: lawngreen;
    min-height: 500px;
}
.sidebar {
    width: 20%;
    float: left;
    /* min-height: 500px; */
    padding-left: 10px;
}
.inner-sidebar {
    background: indigo;
    min-height: 500px;
}
.footer {
    background: indigo;
    height: 200px;
    margin-top: 10px;
}
.images {
    border: 1px solid gray;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* height: 100%; */
}
.image-wrap {
    /* width: 500px;
    height: 300px; */
    /* width: 40%;
    height: 40%; */
    /* max-width: 100%; */
    border: 1px solid red;
    padding: 5px;
    margin: 2.5px;
}
.image-img_3 {
    max-width: 100%;
}
/* .image-center {
    display: block;
    margin: auto;
} */

#lol_1 {
    color: lightcyan;
    text-align: center;
}

#sup_1 {
    font-size: 1.6rem;
}
[href] {
    color: hotpink;
}
h2 {
    text-align: center;
}
li {
    text-align: left;
}
#poem_child {
    align-items: center;
}

@media (max-width: 1366px) {
    html {
        font-size: 8px;
    }
    .images {
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 5px;
    }
}

/***/
/*div*/
/*.color_text_1 [special-attr]*/
/*#id1*/
/*attrStyle*/
/*!important*/
