.house {
   width: 600px;
   height: 600px;
   border: 5px solid #f00;
   position: absolute;
}
.wall {
   width: 300px;
   height: 300px;
   background-color: #f00;
   position: absolute;
   right: 150px;

   bottom: 50px;
}
.roof {
   width: 300px;
   height: 300px;
   position: absolute;
   right: 150px;
   bottom: 350px;
}
.roof .item {
   border: 150px solid transparent;
   border-bottom: 150px solid green;
   /* position: absolute; */
}
.round-window {
   width: 50px;
   height: 50px;
   position: absolute;
   right: 275px;
   bottom: 375px;
   border-radius: 100%;
   background-color: yellow;
   border: 5px solid brown;
}

.square-window {
   width: 60px;
   height: 70px;
   position: absolute;
   right: 350px;
   bottom: 175px;
   background-color: yellow;
   border: 5px solid brown;
}
.door {
   width: 80px;
   height: 180px;
   position: absolute;
   right: 250px;
   bottom: 75px;
   background-color: brown;
   border: 5px solid burlywood;
}
